aiohttp==3.8.5
aiohttp-client-cache==0.6.1
aiohttp-cors==0.7.0
homeassistant-api==4.1.1.post2
mediapipe==0.10.3
numpy==1.24.3
opencv-python==4.8.0.76
pandas==2.0.3
peewee==3.16.3
Pillow==10.0.0
python-socketio==5.8.0
requests==2.29.0
schematics==2.1.1
scikit-learn==1.3.0
yt-dlp @ https://github.com/yt-dlp/yt-dlp/archive/master.tar.gz